In [2]:
import pandas as pd
import numpy as np

Merging the different regions into one dataset

In [6]:
colombo = pd.read_csv('raw/dataset_colombo_raw.csv')
east = pd.read_csv('raw/dataset_east_raw.csv')
ella = pd.read_csv('raw/dataset_ella_raw.csv')
galle = pd.read_csv('raw/dataset_galle_raw.csv')
kandy = pd.read_csv('raw/dataset_kandy_raw_1.csv')
nuwaraeliya = pd.read_csv('raw/dataset_nuwaraeliya_raw.csv')

c:\Users\misha\anaconda3\envs\py3.7\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (473,531,589,621,623,626,629,632,635,638,641,644,647,650,652,655,658,661,664,667,670,673,676,679,681,684,687,690,693,696,699,702,705,708,710,713,716,719,722,725,728,731,734,737,739,742,745,748,751,754,757,760,763,766,768,771,774,777,780,783,786,789,792,795,797,800,803,806,809,812,815,818,821,824,826,829,832,835,838,841,844,847,850,853,855,858,861,864,867,870,873,876,879,881,884,887,890,893,896,899,902,905,907,910,913,916,919,922,925,928) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\misha\anaconda3\envs\py3.7\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (357,389,391,394,397,400,403,406,409,412,415,418,420,423,426,429,432,435,438,441,444,447,449,452,455,458,461,464,467,470,473,476,478,481,484,487,490,493,496,499,502,505,507,510,513,516,519,522,525,528,531,534,536,539,542,545,548,551,554,557,560,563,565,568,571,574,577,580,583,586,589,592,594,597,600,603,606,609,612,615,618,621,623,626,629,632,635,638,641,644,647,650,652,655,658,661,664,667,670,673,676,679,681,684,687,690,693,696,699,702,705,708,710,713,716,719,722,725,728,731,734,737,739,742,745,748,751,754,757,760,763,765,768,771,774,777,780,783,786) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\misha\anaconda3\envs\py3.7\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (270,386,415,444,473,502,505,507,510,513,516,519,522,525,528,531,534,536,539,542,545,548,551,554,557,560,563,565,568,571,574,577,580,583,586,589,592,594,597,600,603,606,609,612,615,618,621,623,626,629,632,635,638,641,644,647,650,652,655,658,661,664,667,670,673,676,679,681,684,687,690,693,696,699,702,705,708,710,713,716,719,722,725,728,731,734,737,739,742,745,748,751,754,757,760,763,766,768,771,774,777,780,783,786,789,792,795,797,800,803,806,809,812,815,818,821,823,826,829,832,835,838,841,844,847,849,852,855,858,861,864,867,870,873,876,878,881,884,887,890,893,896,899,902,905,907,910,913,916,919,922,925,928,931,934,936,939,942,945,948,951,954,957,960,963,965,968,971,974,977,980,983,986,989,991,994,997,1000,1003,1006,1009,1012,1015,1017,1020,1023,1026,1029,1032,1035,1038,1041,1043,1046,1049,1052,1055,1058,1061,1064,1067,1069,1072,1075,1078,1081,1084,1087,1090,1093,1096,1098,1101,1104,1107,1110,1113,1116,1119,1122,1124,1127,1130,1133,1136,1139,1142,1145,1148,1150,1153,1156,1159,1162,1165,1168,1171,1174,1176,1179,1182,1185,1188,1191,1194,1197,1200,1202,1205,1208,1211,1214,1217,1220,1223,1226,1228,1231,1234,1237,1240,1243,1246,1249,1252,1255,1257,1260,1263,1266,1269,1272,1275,1278,1281,1284,1286,1289,1292,1295,1298,1301,1304,1307,1310,1313,1315,1318,1321,1324,1327,1330,1333,1336,1339,1341,1344,1347,1350,1353,1356,1359,1362,1365,1367,1370,1373,1376,1379,1382,1385,1388,1391,1393,1396,1399,1402,1405,1408,1411,1414,1417,1419,1422,1425,1428,1431,1434,1437,1440,1443,1445,1448,1451,1454,1457,1460,1463,1466,1469,1471,1474,1477,1480,1483,1486,1489,1492,1495,1497,1500,1503,1506,1509,1512,1515,1518,1521,1523,1526,1529,1532,1535,1538,1541,1544,1547,1549,1552,1555,1558,1561,1564,1567,1570,1573,1575,1578,1581,1584,1587,1590,1593,1596,1599,1601,1604,1607,1610,1613,1616,1619,1622,1625,1627,1630,1633,1636,1639,1642,1645,1648,1651,1653,1656,1659,1662,1665,1668,1671,1674,1677,1679,1682,1685,1688,1691,1694,1697,1700,1703,1705,1708,1711,1714,1717,1720,1723,1726,1729,1731,1734,1737,1740,1743,1746,1749,1752,1755,1757,1760,1763,1766,1769,1772,1775,1778,1781,1783,1786,1789,1792,1795,1798,1801,1804,1807,1809,1812,1815,1818,1821,1824,1827,1830,1833,1835,1838,1841,1844,1847,1850,1853,1856,1859,1861,1864,1867,1870,1873,1876,1879,1882,1885,1887,1890,1893,1896,1899,1902,1905,1908) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\misha\anaconda3\envs\py3.7\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (0,3,388,417,446,475,504,533,591,678,707,765,794,823,852,854,857,860,863,866,869,872,875,878,880,883,886,889,892,895,898,901,904,906,909,912,915,918,921,924,927) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
# Print the shape of the datasets
colombo.shape, east.shape, ella.shape, galle.shape, kandy.shape, nuwaraeliya.shape

((2000, 1012), (1846, 91), (1951, 870), (2100, 1992), (2000, 90), (1932, 1011))

Checking which columns to keep

In [8]:
colombo.head()

,helpfulVotes,id,lang,locationId,ownerResponse,ownerResponse/connectionToSubject,ownerResponse/id,ownerResponse/lang,ownerResponse/publishedDate,ownerResponse/responder,...,user/contributions/helpfulVotes,user/contributions/totalContributions,user/link,user/name,user/userId,user/userLocation,user/userLocation/id,user/userLocation/name,user/userLocation/shortName,user/username
0,0,978474125,en,11953119,NaN,Marketing,978587845.0,en,2024-11-03,NH Collection Colombo Colombo,...,0,5,www.tripadvisor.com/Profile/219nikal,Nika L,4B7243B58279C48C6996E7AD84B99D1B,NaN,NaN,NaN,NaN,219nikal
1,0,978053018,en,11953119,NaN,Marketing,978126015.0,en,2024-10-31,NH Collection Colombo Colombo,...,0,1,www.tripadvisor.com/Profile/rajacool1984itz,rajacool1984itz,C4858A0D4C392C424F95394FC6A9DF93,NaN,12392950.0,"Bangalore District, India",Bangalore District,rajacool1984itz
2,0,976992067,en,11953119,NaN,Marketing,977079010.0,en,2024-10-29,NH Collection Colombo Colombo,...,0,11,www.tripadvisor.com/Profile/857navidj,navid javaheri,1292901822752360BC14294E815E44D4,NaN,NaN,NaN,NaN,857navidj
3,0,976690540,en,11953119,NaN,Marketing,976955475.0,en,2024-10-28,NH Collection Colombo Colombo,...,0,4,www.tripadvisor.com/Profile/809mickaelt,Mickael T,AEA16DA7A7A56263250D9A8F3C8E03A9,NaN,NaN,NaN,NaN,809mickaelt
4,0,976664122,en,11953119,NaN,Marketing,976955561.0,en,2024-10-28,NH Collection Colombo Colombo,...,0,3,www.tripadvisor.com/Profile/M1879HRchloet,Chloe T,5797A6DCB5A633140628715CBA7A8B27,NaN,NaN,NaN,NaN,M1879HRchloet

In [11]:
kandy.head()

,helpfulVotes,id,lang,locationId,ownerResponse,ownerResponse/connectionToSubject,ownerResponse/id,ownerResponse/lang,ownerResponse/publishedDate,ownerResponse/responder,...,user/contributions/helpfulVotes,user/contributions/totalContributions,user/link,user/name,user/userId,user/userLocation,user/userLocation/id,user/userLocation/name,user/userLocation/shortName,user/username
0,0,972640226,en,4173413,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,www.tripadvisor.com/Profile/homea575,Home A,C8DEEF169BD0B06A7116F5AA8CBEE505,NaN,NaN,NaN,NaN,homea575
1,0,942345342,en,4173413,NaN,NaN,NaN,NaN,NaN,NaN,...,1,20,www.tripadvisor.com/Profile/R5273HHvalentind,Valentin D,74A8DBD1CFC8AB82944759ED1DE3E355,NaN,NaN,NaN,NaN,R5273HHvalentind
2,0,932695686,en,4173413,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,www.tripadvisor.com/Profile/dinast2024,Dinas T,6984DC788123C57BB9DB35B5F53E8CE9,NaN,NaN,NaN,NaN,dinast2024
3,0,919333160,en,4173413,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,www.tripadvisor.com/Profile/madhawar2016,Madhawa R,9CEC5C98C2A8732A9E9C71E3A79113E8,NaN,293962.0,"Colombo, Sri Lanka",Colombo,madhawar2016
4,0,914641015,en,4173413,NaN,NaN,NaN,NaN,NaN,NaN,...,0,12,www.tripadvisor.com/Profile/315chinthakaw,Chinthaka W,DA2EAB222D26CBEAC097EFCB1EB671FD,NaN,NaN,NaN,NaN,315chinthakaw

In [12]:
useful_columns = [
    'helpfulVotes',
    'id',
    'placeInfo/address',
    'placeInfo/addressObj/city',
    'placeInfo/name',
    'placeInfo/numberOfReviews',
    'placeInfo/rating',
    'placeInfo/webUrl',
    'publishedDate',
    'rating',
    'roomTip',
    'text',
    'title',
    'travelDate',
    'tripType',
    'user/username',
]

In [13]:
# Filter dataframes to only include useful columns
colombo = colombo[useful_columns]
east = east[useful_columns]
ella = ella[useful_columns]
galle = galle[useful_columns]
kandy = kandy[useful_columns]
nuwaraeliya = nuwaraeliya[useful_columns]

# Check shape of dataframes after filteration
colombo.shape, east.shape, ella.shape, galle.shape, kandy.shape, nuwaraeliya.shape

((2000, 16), (1846, 16), (1951, 16), (2100, 16), (2000, 16), (1932, 16))

In [14]:
# Concatenate dataframes
data = pd.concat([colombo, east, ella, galle, kandy, nuwaraeliya])
data.shape

(11829, 16)

In [15]:
data.head()

,helpfulVotes,id,placeInfo/address,placeInfo/addressObj/city,placeInfo/name,placeInfo/numberOfReviews,placeInfo/rating,placeInfo/webUrl,publishedDate,rating,roomTip,text,title,travelDate,tripType,user/username
0,0.0,978474125.0,"24 Dharmapala Mawatha Dharmapala Mawatha, Colo...",Colombo,Nh Collection Colombo,2392,4.5,https://www.tripadvisor.com/Hotel_Review-g2939...,2024-11-03,5.0,Great place,Very good service at Ayu and friendly staff. S...,Experience at Ayu,2024-11,SOLO,219nikal
1,0.0,978053018.0,"24 Dharmapala Mawatha Dharmapala Mawatha, Colo...",Colombo,Nh Collection Colombo,2392,4.5,https://www.tripadvisor.com/Hotel_Review-g2939...,2024-10-30,1.0,NaN,Change u r lady manager of u r hotel morning s...,Change u r lady manager of u r hotel morning s...,2024-10,BUSINESS,rajacool1984itz
2,0.0,976992067.0,"24 Dharmapala Mawatha Dharmapala Mawatha, Colo...",Colombo,Nh Collection Colombo,2392,4.5,https://www.tripadvisor.com/Hotel_Review-g2939...,2024-10-28,5.0,NaN,Just Perfect \nWe liked everything.\nStaffs ar...,Amazed !,2024-10,FAMILY,857navidj
3,0.0,976690540.0,"24 Dharmapala Mawatha Dharmapala Mawatha, Colo...",Colombo,Nh Collection Colombo,2392,4.5,https://www.tripadvisor.com/Hotel_Review-g2939...,2024-10-26,5.0,NaN,Our stay was unforgettable! The hotel was beau...,Wonderful stay,2024-10,FAMILY,809mickaelt
4,0.0,976664122.0,"24 Dharmapala Mawatha Dharmapala Mawatha, Colo...",Colombo,Nh Collection Colombo,2392,4.5,https://www.tripadvisor.com/Hotel_Review-g2939...,2024-10-26,5.0,NaN,Amazing hotel very well situated in Colombo! Y...,Amazing hotel !,2024-10,FAMILY,M1879HRchloet

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11829 entries, 0 to 1931
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   helpfulVotes               11828 non-null  float64
 1   id                         11828 non-null  float64
 2   placeInfo/address          11829 non-null  object
 3   placeInfo/addressObj/city  11779 non-null  object
 4   placeInfo/name             11829 non-null  object
 5   placeInfo/numberOfReviews  11829 non-null  int64
 6   placeInfo/rating           11828 non-null  float64
 7   placeInfo/webUrl           11829 non-null  object
 8   publishedDate              11828 non-null  object
 9   rating                     11828 non-null  float64
 10  roomTip                    1989 non-null   object
 11  text                       11828 non-null  object
 12  title                      11828 non-null  object
 13  travelDate                 11819 non-null  object
 14  tripType                   11819 non-null  object
 15  user/username              11828 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.5+ MB

In [18]:
data.to_csv('raw/combined_dataset.csv', index=False)